.buscadorr{
    width: 90%;
    height: 4rem;

    margin-top: 2rem;
    padding: 10px;

    outline: none;
    border-style: none;
    border-radius: 2rem;
    border: 2px solid #020202;
    
    font-weight: 600;
   
}
.search{
    
    width: 100%;
    display: flex;   
    justify-content: center;
    
}

.fifi{
    display: none;
}