/* Diseño componente pricipal */
.elip{
  width: 100%;
}

.hi{
  font-size: 6rem;
  color: #CD0000;
  margin-top: -18rem;
  margin-bottom: 12rem;
}

/* Componente item de la página */

.caja{
  height: 550rem;
  background-color:#fffcfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.miniatura {
  width: 90%;
  height: 19rem;
  margin-top: 1.5rem;
  background-color: #F9E9E2;
  border-radius: 2rem;
  display: flex;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
}

.solotexto{
  width: 19rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.titulo_comida{
  color: #000000;
  font-size: 18px;
}

.descripcion_comida{
  margin-top: 1rem;
  margin-right: 1rem;
  color: #CD0000;
  font-size: 15px;
  font-weight: 400;
}

.miniatura img{
  margin: 1rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;   
}

.vistaP{
  height: 4rem;
  width: 5rem;
  background-color: blueviolet;
}

.flotante {
  max-height: 80vh;
  width: 90%;
  height: auto;
  background-color: #F9E9E2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 9999;
  overflow-y: auto;
}

.cerrar{
  border: none; 
  background: none; 
  cursor: pointer;
  font-size: 3rem;
}

.flot_titulo{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.flot_img{
  margin-top: 1.5rem;
  width: 26rem;
  height: 26rem;
}

.flot_titingred{
  margin-top: 1.5rem;
  font-size: 15px;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}

.ingred{
  font-size: 12px;
  margin-left: 1.3rem;
}

.flot_prep{
  margin-top: 2rem;
  font-size: 15px;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
}

.prep{
  font-size: 12px;
  margin-left: 1.3rem; 
}
