body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos de la sección de la receta */
#receta {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos para los ingredientes */
#receta .ingredientes p {
  margin-left: 20px;
}

/* Estilos para la preparación */
#receta .preparacion p {
  margin-left: 20px;
.blog-card {
  background-color: palevioletred;
}
.photo{
  width: 2rem;
  height: 2rem;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
}



/*** BUSCADOR *************************************/
/* Contenedor */
.container {
  position: relative;
  --size-button: 40px;
}

/* buscador */

.caja-busc{
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.input {
  background-color: #383838;
  border: 1ex solid none;
  border-top-width: 1.7em;
  margin: 0;
  padding: 0;
  color: #383838;
  word-wrap: break-word;
  outline: 7px solid #383838;
  height: 30px;
  font-size: 17px;
  text-align: center;
  transition: all 1s;
  max-width: 190px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .input:hover {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }
 
 .input:focus {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }

.photob{
  width: 20rem;
  height: 20rem;
}

/* Ventana emergente */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.popup img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.popup h2 {
  font-size: 24px;
  margin-top: 0;
}

.popup h3 {
  font-size: 18px;
  margin-top: 0;
}

.popup ul {
  list-style-type: disc;
  margin-left: 20px;
}

.popup ol {
  list-style-type: decimal;
  margin-left: 20px;
}
