.recetas{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px; 
}
.titulo{
  margin-left: 1.5rem;
  margin-top: 2rem;

}
.item {
  width: 24rem;
  height: 10rem; 
  margin: 10px;
  margin-top: 2rem;
  background-color: rgba(249, 233, 226, 1); 
  border-radius: 2.5rem;
}
.nombres{ /*NOMBRES DE CADA RECETA*/
  font-size: 1rem;
  margin-left: 2rem;
  background-color: rgb(228, 132, 7);
  margin-left: 10rem;
  margin-top: -8rem;
  text-align: center;
}
.descripcion{
  font-size: 0.8rem;
  margin-left: 10rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  text-align: justify;

}
.imagenes_re{ /*imagen de cada receta*/
  width: 7rem;
  height: 7rem;
  margin-left: 2rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
}
.circulo_arriba{ /*circulo flotante*/
  width: 24.9rem;
  height: 15rem;
  margin:-2rem;
}
/*buscador*/
body {
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
margin-left: 1rem;
font-size: 1rem;
margin-top: 7rem;
}

.receta {
margin-bottom: 20px;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5px;
}
#query{
margin-left: 5rem;
background-color: aqua;
}
.receta img {
max-width: 100%;
}

.box_sabias{
margin-top: -17rem;
margin-bottom: 10rem;
width: 100%;
height: 5rem;

}
.titulo_sabias{
background-color: blue;
font-size: 1.5rem;
}
.cuerpo{
font-size: 1rem;
color: black;
text-align: center;
}