.footer {
    display: block;
    border-radius: 8rem;
}
 
.pie_de_pagina {
    background-color:#ef8e4c;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.pie_de_pagina > .Titulo > h1 {
    color: black;
    font-weight: 700;
    margin: 0.5rem 1rem;
    text-align: left;
}


/*Nombre del proyecto*/
.centro {
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
}
.div00 > img {
    height: 8rem;
    margin-top: 3rem;
}
.div00 > h1 {
    font-size: 3.5rem;
    color: black;
}


/*Sección de listas*/
.listas_
.names1 > ul {
    margin: auto;
    display: inline-block;
}
.names1 > ul > li {
    display: block;
    padding: 1rem;
}
ul > li > p {
    font-size: 1.5rem;
}


.names2 > ul {
    display: inline-block;
}
.names2 > ul > li {
    display: block;
    padding: 1rem;
}


/*Sección de copyright*/
.copy {
    color: white;
    background-color: black;
    display: flex;
    height: 3rem;
    align-items: center;
    height: 4rem;
}