.footer {
    display: block;
    border-radius: 8rem;
}
 
.pie_de_pagina {
    background-color:black;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


/*Nombre del proyecto*/
.centro {
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    padding-top: 2rem;
}

.div00 > h1 {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    padding: 0rem 2rem;
}
.div00 > h2 {
    color: white;
}


/*Sección de listas*/
.listas_Names {
    padding: 2rem 2rem;
}
.listas_Names > img {
    height: 12rem;
    margin-top: 2rem;
    border-radius: 2rem ;
}
.names1 > ul {
    margin: auto;
    display: inline-block;
}
.names1 > ul > li {
    display: block;
    padding: 1rem;
}
ul > li > p {
    font-size: 1.5rem;
    color: white;
}


.names2 > ul {
    display: inline-block;
}
.names2 > ul > li {
    display: block;
    padding: 1rem;
}


/*Sección de información*/
.information {
    padding: 2rem;
    background-color: rgb(60, 57, 57);
    color: white;
}

.information > h2 {
    font-size: 3rem;
    font-weight: 200;
    padding: 0rem 1rem;
}



/*Sección de copyright*/
.copy {
    color: white;
    background-color: rgb(24, 22, 22);
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 1rem 1rem;
}
.copy > h2 {
    font-weight: 100;
    padding: 1rem 0.5rem;
}
.copy > p {
    padding: 1rem 0.5rem;
}